<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')
    }}"
    />
    <title>IBM Assigment 1</title>
  </head>
  <body>
    <div class="container">
      <h3 class="heading">Form Registeration</h3>
      <form
        action="http://localhost:5000/submit-form"
        class="form"
        method="POST"
      >
        <div class="input-box">
          <label for="fname">First Name</label>
          <input
            type="text"
            name="fname"
            id="fname"
            placeholder="Enter First name"
          />
        </div>
        <div class="input-box">
          <label for="lname">Last Name</label>
          <input
            type="text"
            name="lname"
            id="lname"
            placeholder="Enter Last name"
          />
        </div>
        <div class="input-box">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Email address"
          />
        </div>
        <div class="input-box">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
          />
        </div>
        <p>Choose Gender</p>
        <div class="input-box">
          <label for="male">Male</label>
          <input type="radio" id="male" name="gender" value="male" />
          <label for="female">Female</label>
          <input type="radio" id="female" name="gender" value="female" />
        </div>
        <div class="input-box">
          <label for="cars">Favourite Car</label>
          <select name="cars" id="cars" class="cars">
            <option value="BMW">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Rolls Royce">Rolls Royce</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Mercedes Benz">Mercedes Benz</option>
          </select>
        </div>
        <div class="input-box">
          <label for="message">Your message</label>
          <textarea id="message" name="message" rows="5" cols="40"> </textarea>
        </div>
        <input class="btn" type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
